:root {
	--primary-bg-color: black;
	--primary-color1: #3b76b5;
	// --primary-color1: purple;
	--primary-color2: #4e9bee;
	--primary-color2: #262626;
	--primary-color3: black;

	--primary-font-color: rgb(255, 255, 255);
	--secondary-font-color: #cccccc;
	--header-height: 56px;
	--box-shadow-color: rgba(0, 0, 0, 0.4);
	--input-bg-color: #fff;

	.dark-mode {
		--primary-bg-color: #fff;
		--primary-color1: #68abf3;
		--primary-color2: #c0dfff;
		--primary-font-color: white;
		--secondary-font-color: rgb(213, 213, 213);
		--box-shadow-color: rgba(255, 255, 255, 0.4);
		--input-bg-color: #323232;
	}
}
