<div class="pcard" [ngStyle]="{ 'background-image': 'url(' + project.ImgSrc + ')' }">
	<!-- <div class="project-img">
		<img class="project-img" [src]="project.ImgSrc" [alt]="project.ImgAlt" />
	</div> -->

	<div class="pcard-body">
		<div class="card-title">
			{{ project.Title }}
		</div>
		<div class="description">
			<span>
				{{ project.Description }}
			</span>
			<a class="show-more pointer" (click)="showMore()">show details</a>
		</div>

		<div class="links">
			<span class="visit">
				<a [href]="project.VisitLink" target="_blank">
					<fa-icon [icon]="Icons.externalLink"></fa-icon>
					Visit Project
				</a>
			</span>
			<div class="d-flex align-items-center">
				<a [href]="project.GithubLink" target="_blank" class="github-icon">
					<fa-icon [icon]="Icons.github"></fa-icon>
				</a>
				<img class="logo" [src]="project.LogoSrc" [alt]="project.LogoAlt" />
			</div>
		</div>
	</div>
</div>

<!-- <div class="card-3d-wrap" [ngClass]="{ rotate: rotate }">
	<div class="card-3d-wrapper">
		<div class="project-card front">
			<div class="card-title">
				{{ project.Title }}
			</div>

			<div class="card-body">
				<img class="project-img" [src]="project.ImgSrc" [alt]="project.ImgAlt" />

				<div class="description">
					<span>
						{{ project.Description }}
					</span>
					<a class="show-more pointer" (click)="showMore()">show details</a>
				</div>

				<div class="links">
					<span class="visit">
						<a [href]="project.VisitLink" target="_blank">
							<fa-icon [icon]="Icons.externalLink"></fa-icon>
							Visit Project
						</a>
					</span>
					<div class="d-flex align-items-center">
						<a [href]="project.GithubLink" target="_blank" class="github-icon">
							<fa-icon [icon]="Icons.github"></fa-icon>
						</a>
						<img class="logo" [src]="project.LogoSrc" [alt]="project.LogoAlt" />
					</div>
				</div>
			</div>
		</div>
		<div class="project-card back">
			<div class="card-title">{{ project.Title }} back</div>

			<div class="card-body">
				<img class="project-img" [src]="project.ImgSrc" [alt]="project.ImgAlt" />

				<div class="description">
					{{ project.WorkDone }}
					<a class="show-more pointer" (click)="showMore()">Back</a>
				</div>
				<div class="links">
					<span class="visit">
						<a [href]="project.VisitLink" target="_blank">
							<fa-icon [icon]="Icons.externalLink"></fa-icon>
							Visit Project
						</a>
					</span>
					<div class="d-flex align-items-center">
						<a [href]="project.GithubLink" target="_blank" class="github-icon">
							<fa-icon [icon]="Icons.github"></fa-icon>
						</a>
						<img class="logo" [src]="project.LogoSrc" [alt]="project.LogoAlt" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
