$transition: all 0.5s ease-in;

.carousel {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;

	.slide {
		position: absolute;
		width: 100%;
		height: 100%;
		// padding: 0 30px;
		padding-bottom: 35px;

		opacity: 0;
		transition: $transition;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&.active {
			opacity: 1;
		}
	}

	.indicators {
		position: absolute;
		bottom: 5px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		z-index: 1;

		.arrow {
			// position: absolute;
			// top: 50%;
			// transform: translateY(-50%);
			background-color: transparent;
			color: var(--secondary-font-color);
			border: none;
			outline: none;
			cursor: pointer;
			font-size: 16px;
			z-index: 1;
		}

		.dots {
			display: flex;
			align-items: center;

			.indicator {
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: rgba(255, 255, 255, 0.5);
				margin: 0 5px;
				cursor: pointer;

				&.active {
					background-color: white;
				}
				&:hover {
					background-color: white;
				}
			}
		}
	}
}
