$bg-color: var(--primary-color1);
$box-shadow: 0px 0px 15px 1000px rgb(4, 0, 9, 0.8);
// $bg-color-before-scroll: var(--primary-color1);
$bg-color-before-scroll: transparent;
$font-color: var(--primary-font-color);
$font-color-secondary: var(--primary-font-color);

.navbar {
	// background-color: transparent !important;
	background-color: $bg-color-before-scroll !important;
	transition: all 0.3s ease;

	.navbar-brand {
		transition: all 0.3s ease;
		opacity: 0;
		padding: 0 5px;

		text-decoration: none;

		.logo-img {
			height: 40px;
			border-radius: 50%;
		}
	}

	.navbar-nav {
		margin-left: -100px;

		.small-screen {
			display: none;
		}
	}
	&:has(.show),
	&:has(.collapsing) {
		box-shadow: $box-shadow !important;
		background-color: $bg-color !important;
		.container-fluid {
			background-color: $bg-color;
			.navbar-collapse {
				padding-top: 10px;
			}
		}
	}

	a {
		color: $font-color-secondary !important;
		font-weight: bold;
		margin: 0 5px;
		padding-right: 5px;
		padding-left: 5px;
		border-radius: 5px;

		&:hover.nav-link,
		&.active.nav-link {
			color: $font-color !important;
		}
	}
	.navbar-toggler {
		border-color: $font-color;
		border-width: 3px;
		padding: 0px 3px;
		border: none;
		&:focus {
			box-shadow: 0 0 0 0;
		}
		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(59,118,181, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
		}
	}
}

.navbar.navbar-scrolled {
	// background-color: $bg-color !important;
	background: rgba(0, 0, 0, 0.2);
	// border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.4);

	.navbar-brand {
		opacity: 1;
	}

	i {
		color: $font-color;
	}
	a {
		color: $font-color-secondary !important;

		margin: 0 5px;
		padding-right: 5px;
		padding-left: 5px;
		border-radius: 5px;
		&:hover.nav-link,
		&.active.nav-link {
			color: $font-color !important;
		}
	}
	.container-fluid:has(.show),
	.container-fluid:has(.collapsing) {
		background-color: inherit;
	}
	.navbar-toggler {
		border-color: $font-color;
		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(59,118,181, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
		}
	}
}

@media (max-width: 576px) {
	.navbar {
		.navbar-nav {
			margin-left: 0px;
			.art {
				display: none;
			}
			.small-screen {
				display: inline;
				img {
					width: 100px;
					height: 50px;
				}
			}
		}
		.container-fluid {
			// background-color: red;
			.navbar-toggler {
				order: 2;
			}
			.logo {
				order: 1;
			}
			.profile-pic {
				order: 3;
			}
			&:has(.show),
			&:has(.collapsing) {
				.navbar-collapse {
					order: 4;
				}
			}
		}
	}
}
