$main-color: var(--primary-color1);
$bg-title-color: white;
$transition: all 1s ease-in;
$social-width: 64px;
$main-gap: 100px;

.page {
	height: 100vh;
	perspective: 10px;
	overflow-y: auto;
	position: relative;
}

section {
	min-height: 300px;
	position: relative;
	background-color: var(--primary-bg-color);

	// &:nth-child(2n) {
	// 	background-color: var(--primary-color2);
	// }

	&.hero {
		min-height: 100vh;
		padding-top: var(--header-height);

		background-image: radial-gradient(
				ellipse at 47% 33%,
				var(--primary-color2) 0,
				transparent 300px
			),
			radial-gradient(
				circle at 75% 60%,
				var(--primary-color1) -30%,
				transparent 300px
			);
	}

	&.problem-solution {
		height: auto;
	}

	&.about {
		// background-color: transparent;
		margin-top: 100px;
		background-image: radial-gradient(
				ellipse at 30% 29%,
				var(--primary-color2) 0,
				transparent 34%
			),
			radial-gradient(
				at -15% 54%,
				var(--primary-color1) -30%,
				transparent 30%
			),
			radial-gradient(
				at 70% 40%,
				var(--primary-color1) -20%,
				transparent 25%
			);
	}

	&.experience {
		.main {
			// width: 80%;
			// margin: auto;

			display: flex;
			flex-direction: column;
			align-items: center;
			padding-bottom: 50px;
			.accordion {
				color: var(--primary-font-color) !important;
				width: 100%;

				.accordion-item {
					background-color: transparent;
					padding: 30px 10px;
					margin-inline-start: 10px;
					padding-top: 0;
					position: relative;
					border: 0;
					border-left: 2px solid var(--primary-color1);

					// timeline circle style
					&::before {
						content: '';
						border: 7px solid var(--primary-color1);
						border-radius: 50%;
						position: absolute;
						top: 0;
						left: -7px;
					}

					.accordion-header {
						.accordion-button {
							background-color: transparent;
							position: static;
							padding: 0 20px;
							box-shadow: none !important;
							color: var(--primary-font-color);
							justify-content: space-between;
							// begin arrow
							&::after {
								background-image: none;
							}

							.accordion-icon {
								transition: 0.2s ease-in-out;
								transform: rotate(-90deg);
								margin: 0;

								position: absolute;
								top: -6px;
								left: -40px;

								font-size: 24px;
							}
							&:not(.collapsed) {
								.accordion-icon {
									transform: rotate(0deg);
								}
							}
							// end arrow

							.info {
								display: flex;
								flex-direction: column;
								align-items: flex-start;
								width: 100%;

								.country {
									color: var(--secondary-font-color);
									.from-to {
										margin-inline-start: 10px;
									}
								}
								.role {
									font-weight: bold;
								}
							}
							img {
								object-fit: contain;
								height: 90px;
								border-radius: 10px;
							}
						}
					}

					.accordion-collapse {
						color: var(--primary-font-color);
					}
				}
			}

			.projects-card {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}

	// .contact {
	// }
}

::ng-deep {
	.main-color {
		color: var(--primary-color1);
	}
	section {
		.bg-title {
			position: absolute;
			top: 0;
			&.l {
				left: 0;
			}
			&.r {
				right: 10px;
			}

			display: flex;
			justify-content: center;
			align-items: center;

			height: 100%;
			width: 250px;

			h1 {
				text-transform: capitalize;
				font-size: 200px;
				opacity: 0.2;

				padding: 0;
				margin: 0;
				color: $bg-title-color;
			}

			&.l {
				h1 {
					transform: rotateZ(270deg);
				}
			}
			&.r {
				h1 {
					transform: rotateZ(90deg);
				}
			}
		}

		.main {
			padding: 0 5%;

			.section-title {
				color: var(--primary-color1);
				padding-bottom: 20px;
			}
		}
	}
}

// .parallax {
// 	position: relative;
// 	transform-style: preserve-3d;

// 	img {
// 		position: absolute;
// 		top: 200px;
// 		left: 50%;
// 		width: 50%;
// 		height: 300px;

// 		transform: translateZ(-5px) scale(1.5) translateX(-150px);
// 		object-fit: contain;
// 		// animation: logo infinite 4s ease-in;
// 	}
// 	// @keyframes logo {
// 	// 	0% {
// 	// 		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
// 	// 		filter: drop-shadow(5px 5px 5px #222);
// 	// 		transform: translatey(0px);
// 	// 	}
// 	// 	50% {
// 	// 		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
// 	// 		transform: translatey(-20px);
// 	// 	}
// 	// 	100% {
// 	// 		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
// 	// 		transform: translatey(0px);
// 	// 	}
// 	// }
// }
