.preloader {
	width: 100%;
	position: absolute;
	overflow: hidden;
	height: 100vh;
	top: 0;
	z-index: 100;
	background-color: var(--primary-bg-color);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	animation: init 0.5s ease-out;
	z-index: 10000;
	img {
		height: 30vh;
	}

	&.loaded {
		.parent {
			animation: loaded 0.5s ease-out;
		}
		app-loader {
			// display: none;
		}
		img {
			// animation: loaded 1s ease-out;
		}
	}
}

@keyframes loaded {
	to {
		opacity: 0;
		scale: 0.7;
	}
}
